{% extends 'default_base_with_nav.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'S:/micha/Documents/symfony-focus-finance/focusfinance/src/Controller/SettingsController.php'|file_link(0) }}">src/Controller/SettingsController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'S:/micha/Documents/symfony-focus-finance/focusfinance/templates/settings/index.html.twig'|file_link(0) }}">templates/settings/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
