{% extends 'default_base_with_nav.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <h1>Welcome {{ app.user.username }}</h1>

        {% if app.user %} 
            <div class="mb-3">
                You are logged in as {{ app.user.username }}
            </div>
        {% endif %}
    </div>
{% endblock %}
